<p-button 
    class="style-button-ajout" 
    (click)="showDialog()" 
    icon="pi pi-external-link"
    >ajouter
</p-button>
<p-table 
    [columns]="cols" 
    selectionMode="single" 
    [value]="utilisateurs" 
    [tableStyle]="{'border': '1px solid black', 'background-color': 'lavenderblush'} "
    (onRowSelect)="showDialog()">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" class="table-header-style">
                {{ col.header }}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="columns">
            <td *ngFor="let col of columns">
                {{ rowData[col.field] }}
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header="Title" [(visible)]="displayModal" label="Show">

</p-dialog>
