@import "primeicons/primeicons.css";

.p-toolbar{
    border-radius: 3rem;
    background: linear-gradient(1deg, darkmagenta, aquamarine);
    height: 46px;
    width: auto;
}

.p-tab-panel-jo{
    padding: 1rem;
    width: 93px;
    background-color: mediumpurple;
    
}

.p-tab-panel-jo-non-selected{
    padding: 1rem;
    width: 93px;
    background-color: plum;
    
}

.style-bar-tabs{
    width: auto;
    background-color: plum;
}


