@import "primeicons/primeicons.css";

.p-toolbar{
    border-radius: 3rem;
    background: linear-gradient(1deg, darkmagenta, aquamarine);
    height: 46px;
    width: auto;
}

.p-tab-panel-jo{
    padding: 10rem;
}

